<mat-card class="example-form">


  <div [formGroup]="addArticleForm" class="container-productSelling">

    <h2>Lending a Product</h2>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="title">Title</mat-label>
      <input matInput [(ngModel)]="title" id="title" type="text" formControlName="title" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="price">Price (CHF)</mat-label>
      <input matInput [(ngModel)]="price" id="price" formControlName="price" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="pricingType">Price</mat-label>
      <mat-select class="custom-select" [(ngModel)]="pricingType" id="pricingType" formControlName="pricingType" required>
        <mat-option *ngFor="let pricingType of pricingOptions" [value]="pricingType.value">
          {{pricingType.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="category">Category</mat-label>
      <mat-select class="custom-select" [(ngModel)]="category" id="category" formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="description">Description</mat-label>
      <textarea matInput [(ngModel)]="description" id="description" formControlName="description" required></textarea>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="location">Location</mat-label>
      <input matInput [(ngModel)]="location" id="location" type="text" formControlName="location" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="lendingStatus">Status</mat-label>
      <mat-select class="custom-select" [(ngModel)]="lendingStatus" id="lendingStatus" formControlName="lendingStatus" required>
        <mat-option *ngFor="let lendingStatus of statusOptions" [value]="lendingStatus.value">
          {{lendingStatus.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="handling">Handling</mat-label>
      <textarea matInput [(ngModel)]="handling" id="handling" formControlName="handling" required></textarea>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="addArticleRequest()">Add Product</button>

  </div>


</mat-card>
