<div class="border">
<mat-grid-list cols="8"  rowHeight="144px" class="pagewidth">

  <!--Banner-->
  <mat-grid-tile colspan="8" rowspan="2" id="banner"  class="thinborder">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_selling.png" style="display:block;">
    <img class="banner" id="banner-2" src="../../assets/Header_Home/Banner_Lending.png" style="display:none;">
    <img class="banner" id="banner-3" src="../../assets/Header_Home/Banner_Service.png" style="display:none;">
  </mat-grid-tile>

  <!--Sidebar-->
  <mat-grid-tile colspan="2" rowspan="3" class="thinborder">
    <mat-card class="background">
      <mat-card-title>Popular categories</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>
      <br>
      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/clothes-shoes">clothes & shoes</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/electronics">electronics</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/household-garden">household & garden</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/realestate">real estate</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/sport">sport</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/vehicles">vehicles</button></mat-grid-tile>
      </mat-grid-list>

    </mat-card>
  </mat-grid-tile>


  <div *ngIf="!(this.userInfoService.getUserId()===article.userId)">
  <!--Title, Price and Picture-->
  <mat-grid-tile colspan="2" rowspan="3" class="thinborder">

    <mat-card class="background">
      <mat-card-title>{{this.article.title}}</mat-card-title>
      <br>
      <mat-card-title>{{this.article.price}} CHF</mat-card-title>
      <br>
      <mat-grid-list cols="1" rowHeight="230px" class="categories">
        <mat-grid-tile class="thinborder">Picture of article</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list *ngIf="this.userInfoService.isLoggedIn" cols="1" rowHeight="70px" class="categories" id="buycase">
        <mat-grid-tile class="thinborder">
          <button class="savechangesbutton" mat-stroked-button (click)="openSnackBar(message.value, action.value)">Buy {{this.article.title}}</button>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

  </mat-grid-tile>

  <!--Description-->
  <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title>Description:</mat-card-title>
      <p>{{this.article.description}}</p>
    </mat-card>

  </mat-grid-tile>

  <!--Delivery & delivery specs-->
  <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title>Delivery & delivery specifications:</mat-card-title>
      <div *ngIf="this.article.delivery">
        <p>Available for delivery</p>
        <p>{{this.article.delSpec}}</p>
      </div>
      <div *ngIf="!(this.article.delivery)">
        <p>Delivery unavailable</p>
        <p>{{this.article.delSpec}}</p>
      </div>
    </mat-card>

  </mat-grid-tile>

  <!--Seller and location-->
  <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title>Seller and location:</mat-card-title>
      <!-- Seller needs to be fetched by id -->
      <p> user </p>
    </mat-card>

    <!--snackbar-->
    <mat-form-field class="invisible">
      <mat-label>Message</mat-label>
      <input matInput value="{{this.article.title}} was added to your shopping cart" #message>
    </mat-form-field>

    <mat-form-field class="invisible">
      <mat-label>Action</mat-label>
      <input matInput value="OK!" #action>
    </mat-form-field>

  </mat-grid-tile>
  </div>

  <div *ngIf="this.userInfoService.getUserId()===article.userId">
    <!--Title, Price and Picture-->
    <mat-grid-tile colspan="2" rowspan="3" class="thinborder">

      <mat-card class="background">
        <mat-card-title>{{this.article.title}}</mat-card-title>
        <mat-form-field style="width:80%">
          <mat-label>Enter new product title</mat-label>
          <input [(ngModel)]="newTitle" maxlength="12" matInput placeholder="new title">
        </mat-form-field>
        <mat-card-title>{{this.article.price}} CHF</mat-card-title>
        <mat-form-field style="width:80%">
          <mat-label>Enter new price</mat-label>
          <input [(ngModel)]="newPrice" maxlength="12" matInput placeholder="new price">
        </mat-form-field>
        <mat-grid-list cols="1" rowHeight="150px" class="categories">
          <mat-grid-tile class="thinborder">Picture of article</mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="70px" class="categories" id="savechangecase">
          <mat-grid-tile class="thinborder">
            <button (click)="this.changeArticle(article.sellProductId)" class="savechangesbutton" mat-button>save changes</button>
          </mat-grid-tile>
        </mat-grid-list>

      </mat-card>
    </mat-grid-tile>

    <!--Description-->
    <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

      <mat-card class="background">
        <mat-card-title>Description:</mat-card-title>
        <p>{{this.article.description}}</p>
        <mat-form-field style="width:80%">
          <mat-label>Enter new description</mat-label>
          <input [(ngModel)]="newDescription" matInput placeholder="new description">
        </mat-form-field>
      </mat-card>

    </mat-grid-tile>

    <!--Delivery & delivery specs-->
    <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

      <mat-card class="background">
        <mat-card-title>Delivery & delivery specifications:</mat-card-title>
        <div *ngIf="this.article.delivery">
          <p>Available for delivery</p>
          <p>{{this.article.delSpec}}<br>
            <mat-form-field style="width:80%">
              <mat-label>Enter new delivery specification</mat-label>
              <input [(ngModel)]="newSpec" matInput placeholder="new spec">
            </mat-form-field>
          </p>

        </div>
        <div *ngIf="!(this.article.delivery)">
          <p>Delivery unavailable</p>
          <p>{{this.article.delSpec}}<br>
            <mat-form-field style="width:80%">
              <mat-label>Enter new delivery specification</mat-label>
              <input [(ngModel)]="newSpec"matInput placeholder="new spec">
            </mat-form-field>
          </p>
        </div>
      </mat-card>

    </mat-grid-tile>

    <!--Seller and location-->
    <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

      <mat-card class="background">
        <mat-card-title>Seller and location:</mat-card-title>
        <!-- Seller needs to be fetched by id -->
        <p>{{this.userInfoService.getUsername()}}, {{this.userInfoService.getPlace()}}</p>
      </mat-card>

    </mat-grid-tile>
  </div>

</mat-grid-list>
</div>

