<div class="container-topbar">

  <form formGroup="topbarForm" method="post">

    <div class="logo">
      <a id="logo" [routerLink]="['/']">Page-Logo</a>
    </div>

    <div class="top-right-block">
      <div class="input-column">
        <div class="row-10"><input id="username" type="text" placeholder="enter username"></div>
        <div class="row-10"><input id="password" type="password" placeholder="enter password"></div>
      </div>


      <input class=button id="signinbutton" type="submit" value="sign in">

      <a id="signup" routerLink="/signup">sign up</a>
    </div>

  </form>

</div>
