.container-topbar {
  width: 100vw;
  height: 70px;
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 1px;
}

.logo {
  width: 25vw;
  float: left;
  padding: 0.5vw;
  margin-top: .5vw;
}
.top-right-block {
  width: 40vw;
  float: right;
}
.input-column {
  width: 24vw;
  float: left;
  padding: 0.5vw;
  margin-top: .5vw;
  display: inline-block;
}
.row-10 {
  width: 10vw;
  padding: 0 1vw;
  float: left;
}

.column{
  float: left;
  width: 10vw;
  margin-top: .5vw;
}

input[type=submit] {
  background-color: rgb(130, 148, 177);
  color: white;
  padding: 12px 1vw;
  border: none;
  display:inline-block;
  cursor:pointer;
  border-radius: 4px;
  float: left;
  margin: .5vw 0 0 .5vw;
}
input[type=submit]:hover {
  background-color: rgb(101, 116, 140);
}

#signup {
  display: inline-block;
  padding: 1vw 3vw;
  text-decoration: none;
  color: whitesmoke;
  font-style: italic;

}

input[type=text], input[type=password]{
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

@media screen and (max-width: 1300px){

  .top-right-block {
    width: 50vw;
    float: right;
  }

}

