<div *ngIf="!this.userInfoService.getLogin()">

  <p>
    <mat-toolbar color="primary">

      <a mat-button [routerLink]="['/']">iocus!</a>

      <mat-form-field appearance="outline" class="search">
        <mat-label>browse for products and services</mat-label>
        <label>
          <input matInput [(ngModel)]="searchTerm" placeholder="search">
        </label>
        <a mat-button routerLink="/search-results">search!</a>
      </mat-form-field>

      <span class="example-spacer"></span>

      <mat-form-field appearance="fill" class="input">
        <mat-label for="username">username</mat-label>
        <input matInput [(ngModel)]="username" id="username" type="text" name="username">
      </mat-form-field>

      <mat-form-field appearance="fill" class="input">
        <mat-label for="password">password</mat-label>
        <input matInput [(ngModel)]="password" id="password" type="password" name="password" (keyup.enter)="login()">
      </mat-form-field>

      <button mat-raised-button color="basic" (click)="login()">sign in</button>

      <a mat-button color="basic" routerLink="/signup" >sign up</a>

    </mat-toolbar>
  </p>

</div>


<div *ngIf="this.userInfoService.getLogin()">
  <p>
    <mat-toolbar color="primary">

      <a mat-button [routerLink]="['/']">iocus!</a>

      <mat-form-field appearance="outline" class="search">
        <mat-label>browse for products and services</mat-label>
        <label>
          <input matInput placeholder="search">
        </label>
        <a mat-button routerLink="/search-results">search!</a>
      </mat-form-field>

      <span class="example-spacer"></span>
      <!-- i need some space here, not much, but a little -->
      <span class="i-need-some-space"></span>

      <a mat-button color="basic" routerLink="/profile">{{this.userInfoService.getUsername()}}</a>

      <a mat-button color="basic" routerLink="/add-article">Add Article</a>

      <button mat-raised-button color="secondary" (click)="logout()" onClick="window.location.reload()">logout</button>

      <a mat-button color="basic" routerLink="/balance">Balance: {{this.userInfoService.getBalance()}}</a>

    </mat-toolbar>
  </p>

</div>




