<mat-card class="container-topbar">

  <div>

    <div class="logo">
      <a id="logo" [routerLink]="['/']">Page-Logo</a>
    </div>

    <div class="top-right-block" *ngIf="!loggedIn">

      <div class="input-column">
        <div class="row-10"><label for="username"></label><input [(ngModel)]="username" id="username" type="text" placeholder="enter username" name="username"></div>
        <div class="row-10"><label for="password"></label><input [(ngModel)]="password" id="password" type="password" placeholder="enter password" name="password"></div>
      </div>

      <button type="button" class=button id="signinbutton" (click)="login()">sign in</button>

      <a id="signup" routerLink="/signup">sign up</a>

    </div>

    <div class="top-right-block" *ngIf="loggedIn">
      <div class="row-10"><a>Sie sind eingeloggt</a></div>
      <button type="button" class=button id="signoutbutton" (click)="logout()">sign out</button>
    </div>

  </div>

</mat-card>

