<div class="border">

  <mat-tab-group mat-align-tabs="center">

    <!--reactive page for all products to buy-->

    <mat-tab label="Users products for sale">
      <h1 class="title">All products for sale from this user: </h1>

      <div class="content" fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserSellList()" class="bottomspace">
          <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{article.title}}</mat-card-title>
              <mat-card-subtitle>{{article.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <!--reactive page for all products to lend-->

    <mat-tab label="Users products to rent">
      <h1 class="title">All products to rent from this user: </h1>

      <div class="content" fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserLendList()" class="bottomspace">
          <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{article.title}}</mat-card-title>
              <mat-card-subtitle>{{article.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button mat-button (click)="moreLendInfos(article.lendProductId)" >more infos</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <!--reactive page for all services-->

    <mat-tab label="Users services online">
      <h1 class="title">All services online from this user: </h1>

      <div class="content" fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserService()" class="bottomspace">
          <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{article.title}}</mat-card-title>
              <mat-card-subtitle>{{article.price}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button mat-button (click)="moreServiceInfos(article.serviceId)">more infos</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>
