<!-- <mat-card>

  <mat-form-field>
    <input matInput placeholder="List Name" name="name" [(ngModel)]="todoList.name" (ngModelChange)="onListUpdate()">
  </mat-form-field>

  <button mat-flat-button color="warn" (click)="onListDelete()" [disabled]="todoList.todoItems.length != 0">
    Delete list
  </button>

  <br>


  <mat-form-field>
    <input matInput placeholder="Item Name" [(ngModel)]="newTodoItemName" name="name">
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="onItemCreate()" [disabled]="newTodoItemName === ''">Create new item</button>

  <hr>


  <mat-list>
    <mat-list-item *ngFor="let todoItem of todoList.todoItems">
      <app-todo-item
        [todoItem]="todoItem"
        (update)="onItemUpdate($event)"
        (delete)="onItemDelete($event)"
      ></app-todo-item>
    </mat-list-item>
  </mat-list>
  <div *ngIf="todoList.todoItems.length === 0">No Todo Items available.</div>
</mat-card>
-->
