<div class="container-signup">

<h2>Sign Up </h2>

<form formGroup="signupForm" (ngSubmit)="onSubmit(signupForm.value)" method="post">

  <div class="row">
    <div class="col-25"><label for="name">Name</label></div>
    <div class="col-75"><input id="name" type="text" formControlName="name"></div>
  </div>

    <div class="row">
      <div class="col-25"><label for="surname">Surname</label></div>
      <div class="col-75"><input id="surname" type="text" formControlName="surname"></div>
    </div>

    <div class="row">
      <div class="col-25"><label for="userName">Username</label></div>
      <div class="col-75"><input id="userName" type="text" formControlName="userName"></div>
    </div>

    <div class="row">
      <div class="col-25"><label for="email">E-Mail</label></div>
      <div class="col-75"><input id="email" type="text" formControlName="email"></div>
    </div>

    <div class="row">
      <div class="col-25"><label for="password">Password</label></div>
      <div class="col-75"><input id="password" type="password" formControlName="password"></div>
    </div>

    <div class="row">
      <div class="col-25"><label for="passwordAgain">Repeat Password</label></div>
      <div class="col-75"><input id="passwordAgain" type="password" formControlName="passwordAgain"></div>
    </div>

    <div class="row">
      <input type="submit" value="Sign Up" id="submitregistration" class="button" (click)="registration()">
    </div>


  </form>
</div>



