<div class="border">
  <mat-card [formGroup]="myForm" class="example-form">

      <h2>Change password</h2>
      <br>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type=password name="password" formControlName ="password" [(ngModel)]="password" placeholder="enter your password">
      <mat-error *ngIf = "this.myForm.get('password').invalid && this.myForm.get('password').touched">
        Error
      </mat-error>
      <mat-hint align ="end"> Must have minimum of 8 letters, at least one uppercase letter, one lowercase letter, one number and one special (!@#$%^&*)</mat-hint>
      <mat-error *ngIf = "this.myForm.get('password').invalid && this.myForm.get('password').touched">
        Password not strong enough, Must have minimum 8 letter at least one uppercase letter, one lowercase letter, one number and one special character
      </mat-error>
    </mat-form-field>
      <br>
      <button mat-raised-button [disabled]="myForm.invalid" (click)="changePassword()">Save changes</button>

  </mat-card>
</div>
