<div class="border">
  <mat-card class="example-form">

      <h2>Change password</h2>

      <mat-form-field appearance="fill" class="field">
        <mat-label for="title">Old password</mat-label>
        <input matInput type="password" formControlName="title" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="field">
        <mat-label for="title">New password</mat-label>
        <input matInput type="password" formControlName="title" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="field">
        <mat-label for="title">Repeat new password</mat-label>
        <input matInput type="password" formControlName="title" required>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Save changes</button>

  </mat-card>
</div>
