<div class="border">
<meta http-equiv="Refresh" content="0; url='/'" *ngIf="!this.userInfoService.getLogin()"/>


<mat-tab-group mat-align-tabs="center" *ngIf="this.userInfoService.getLogin()" class="height">
  <mat-tab label="Profile">

    <mat-card class="profile">
      <mat-card-header>
        <mat-card-title>{{username}}</mat-card-title>
        <mat-card-subtitle>Personal information</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="50px">

          <mat-grid-tile colspan="1" rowspan="8">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item>Username</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Name</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Surname</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Street</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Housenumber</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Postal Code</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Place</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Email</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="8">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getUsername() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getName() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getSurname() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getStreet() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getHouseNumber() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getPostalCode() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getPlace() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getEmail() }}</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-grid-tile>

          <mat-card class="pic">
            <mat-card-content>
            <img id="image" src="../../assets/plageholder.png">
            </mat-card-content>
          </mat-card>

        </mat-grid-list>
      </mat-card-content>

    </mat-card>


  </mat-tab>
  <mat-tab label="Edit Profile">

    <mat-card class="edit-profile" [formGroup]="editProfileForm">
      <mat-card-header>
        <mat-card-title>{{ this.userInfoService.getUsername() }}</mat-card-title>
        <mat-card-subtitle>Change personal information</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <form class="edit-profile">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="email" placeholder="{{email}}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="name" (keypress)="textOnly($event)" placeholder="{{ name }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput name="surname" [(ngModel)]="surname" (keypress)="textOnly($event)" placeholder="{{ surname }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput name="street" [(ngModel)]="street" (keypress)="textOnly($event)" placeholder="{{ street }}">
          </mat-form-field>

         <mat-form-field class="example-full-width">
            <mat-label>Housenumber</mat-label>
            <input matInput name="houseNumber" [(ngModel)]="houseNumber" (keypress)="numberOnly($event)" placeholder="{{ houseNumber }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput name="postalCode" [(ngModel)]="postalCode" (keypress)="numberOnly($event)" placeholder="{{ postalCode }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Place</mat-label>
            <input matInput name="place" [(ngModel)]="place" (keypress)="textOnly($event)" placeholder="{{ place }}" >
          </mat-form-field>

          <!--<mat-form-field class="example-full-width">
            <mat-label>Balance</mat-label>
            <input matInput name="balance" [(ngModel)]="balance" placeholder="{{ balance }}" >
          </mat-form-field>-->
        </form>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="sendForm()">Save changes</button>
        <button id="changepwbutton" mat-button routerLink="/changepassword">Change password</button>
      </mat-card-actions>

    </mat-card>
  </mat-tab>

  <mat-tab label="Articles">

    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">

      <mat-tab label="Buy">
        <mat-tab-group mat-align-tabs="center" headerPosition="below">
          <mat-tab label="My active articles">
            <h1 class="title">All products for sale: </h1>

            <div class="content" fxLayout="row wrap">
              <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserSellList()" class="bottomspace">
                <mat-card *ngIf="article.status" class="card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-actions class="button3" >
                    <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
                    <button mat-button (click)="deleteSell(article.sellProductId)">delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="My articles someone bought">
            <h1 class="title">All products for sale: </h1>

            <div class="content" fxLayout="row wrap">
              <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserSellList()" class="bottomspace">
                <mat-card *ngIf="!article.status" class="card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-actions class="button3">
                    <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Lend">
        <mat-tab-group mat-align-tabs="center" headerPosition="below">
          <mat-tab label="My active articles">
            <h1 class="title">All products to rent: </h1>

            <div class="content" fxLayout="row wrap">
              <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserLendList()" class="bottomspace">
                <mat-card *ngIf="article.status" class="card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-actions class="button3">
                    <button mat-button (click)="moreLendInfos(article.lendProductId)" >more infos</button>
                    <button mat-button (click)="deleteLend(article.lendProductId)">delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="My articles someone lent">
            <h1 class="title">All products to rent: </h1>

            <div class="content" fxLayout="row wrap">
              <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserLendList()" class="bottomspace">
                <mat-card *ngIf="!article.status" class="card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-actions class="button3">
                    <button mat-button (click)="moreLendInfos(article.lendProductId)" >more infos</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Services">
        <mat-tab-group mat-align-tabs="center" headerPosition="below">
          <mat-tab label="My active services">
            <h1 class="title">All services online: </h1>

            <div class="content" fxLayout="row wrap">
              <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserService()" class="bottomspace">
                <mat-card *ngIf="article.status" class="card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-actions class="button3">
                    <button mat-button (click)="moreServiceInfos(article.serviceId)">more infos</button>
                    <button mat-button (click)="deleteService(article.serviceId)">delete</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="My services someone rented">
            <h1 class="title">All services online: </h1>

            <div class="content" fxLayout="row wrap">
              <div fxFlex="25%" *ngFor="let article of this.articleInfoService.getUserService()" class="bottomspace">
                <mat-card *ngIf="!article.status" class="card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-actions class="button3">
                    <button mat-button (click)="moreServiceInfos(article.serviceId)">more infos</button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-tab>

    </mat-tab-group>

  </mat-tab>
</mat-tab-group>

</div>
