<meta http-equiv="Refresh" content="0; url='/'" *ngIf="!this.userInfoService.getLogin()"/>


<mat-tab-group mat-align-tabs="center" *ngIf="this.userInfoService.getLogin()" class="height">
  <mat-tab label="Profile">

    <mat-card class="profile">
      <mat-card-header>
        <mat-card-title>{{username}}</mat-card-title>
        <mat-card-subtitle>Personal information</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="50px">

          <mat-grid-tile colspan="1" rowspan="8">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item>Username</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Name</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Surname</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Street</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Housenumber</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Postal Code</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Place</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>Email</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-grid-tile>

          <mat-grid-tile colspan="1" rowspan="8">
            <mat-list>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getUsername() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getName() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getSurname() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getStreet() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getHouseNumber() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getPostalCode() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getPlace() }}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>{{ this.userInfoService.getEmail() }}</mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-grid-tile>

          <mat-card class="pic">
            <mat-card-content>
            <img id="image" src="../../assets/plageholder.png">
            </mat-card-content>
          </mat-card>

        </mat-grid-list>
      </mat-card-content>

    </mat-card>


  </mat-tab>
  <mat-tab label="Edit Profile">

    <mat-card class="edit-profile" [formGroup]="editProfileForm">
      <mat-card-header>
        <mat-card-title>{{ this.userInfoService.getUsername() }}</mat-card-title>
        <mat-card-subtitle>Change personal information</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <form class="edit-profile">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="email" placeholder="{{email}}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="name" placeholder="{{ name }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput name="surname" [(ngModel)]="surname" placeholder="{{ surname }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput name="street" [(ngModel)]="street" placeholder="{{ street }}">
          </mat-form-field>

         <mat-form-field class="example-full-width">
            <mat-label>Housenumber</mat-label>
            <input matInput name="houseNumber" [(ngModel)]="houseNumber" placeholder="{{ houseNumber }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput name="postalCode" [(ngModel)]="postalCode" placeholder="{{ postalCode }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Place</mat-label>
            <input matInput name="place" [(ngModel)]="place" placeholder="{{ place }}" >
          </mat-form-field>

          <!--<mat-form-field class="example-full-width">
            <mat-label>Balance</mat-label>
            <input matInput name="balance" [(ngModel)]="balance" placeholder="{{ balance }}" >
          </mat-form-field>-->
        </form>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="sendForm()">Save changes</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>

  <mat-tab label="Articles">
    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="Current Articles">
        <mat-card class="item">
          <mat-card-header>
            <mat-card-title>Shiba Inu. Very Friend!</mat-card-title>
          </mat-card-header>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <p>
          </p>
          <mat-card-content>
            <mat-card-actions>
              <button mat-button>Buy for 12CHF</button>
              <button mat-button>Remember</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab label="Old Articles"> Old Articles </mat-tab>

      <mat-tab label="Inactive Services"> Inactive Services </mat-tab>

    </mat-tab-group>

  </mat-tab>
</mat-tab-group>


