<meta http-equiv="Refresh" content="0; url='/'" *ngIf="!loggedIn"/>


<mat-tab-group mat-align-tabs="center" *ngIf="loggedIn">
  <mat-tab label="Profile">

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{username}}</mat-card-title>
        <mat-card-subtitle>Personal information</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-grid-list cols="3" rowHeight="50px">
          <mat-grid-tile colspan="1" rowspan="8">Profile pic</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Username</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ username }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Email</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ email }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Name</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ name }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Surname</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ surname }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Street</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ street }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Housenumber</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ houseNumber }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Postal Code</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ postalCode }}</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">Place</mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">{{ place }}</mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>

  </mat-tab>
  <mat-tab label="Edit Profile">

    <mat-card class="edit-profile" [formGroup]="editProfileForm">
      <mat-card-header>
        <mat-card-title>{{username}}</mat-card-title>
        <mat-card-subtitle>Change personal information</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <form class="edit-profile">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="email" placeholder="{{email}}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="name" placeholder="{{ name }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Surname</mat-label>
            <input matInput name="surname" [(ngModel)]="surname" placeholder="{{ surname }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input matInput name="street" [(ngModel)]="street" placeholder="{{ street }}">
          </mat-form-field>

         <mat-form-field class="example-full-width">
            <mat-label>Housenumber</mat-label>
            <input matInput name="houseNumber" [(ngModel)]="houseNumber" placeholder="{{ houseNumber }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput name="postalCode" [(ngModel)]="postalCode" placeholder="{{ postalCode }}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Place</mat-label>
            <input matInput name="place" [(ngModel)]="place" placeholder="{{ place }}" >
          </mat-form-field>
        </form>

      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="sendForm()">Save changes</button>
      </mat-card-actions>
    </mat-card>

  </mat-tab>
  <mat-tab label="Articles">

    <div class="container-personalinfo" >
      <div class="col-30">
        <img class="profilepicture" src="https://www.postplanner.com/hs-fs/hub/513577/file-2886416984-png/blog-files/facebook-profile-pic-vs-cover-photo-sq.png?width=250&height=250&name=facebook-profile-pic-vs-cover-photo-sq.png" alt="Here is your face"/>
        <div class="bio">
          Here comes your biografie or whatever you'd like to write about yourself on the website. Shoul be dynamic and text should be getted from database.
        </div>
        <a class="editlink" href="whatever.html" >Edit your Bio</a>
      </div>
      <div class="col-70">
        <div class="row">
          <div class="col-30">
            Username:
          </div>
          <div class="col-70">
            smoerk
          </div>
        </div>
        <div class="row">
          <div class="col-30">
            Password:
          </div>
          <div class="col-70">
            dotted
          </div>
        </div>
        <div class="row">
          <div class="col-30">
            Address:
          </div>
          <div class="col-70">
            Street <br>
            Housenumber <br>
            City <br>
            Postalcode <br>
          </div>
        </div>
        <div class="row">
          <div class="col-30">
            Email:
          </div>
          <div class="col-70">
            some@email.com
          </div>
        </div>
        <input type="submit" value="Save changes!">
      </div>
    </div>
    <div class="container-useritems">

    </div>

  </mat-tab>
</mat-tab-group>


