/*Insert into profile.component.css */

.mat-tab-group {
  margin: 0 auto;
  width: 70vw;
}

.mat-grid-tile {
  border: 1px solid black;
}

.edit-profile {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

.col-30 {
  float: left;
  width: 30%;
  margin-top: 1vh;
  border: 1px solid black;
}

.col-70 {
  float: left;
  width: 70%;
  margin-top: 1vh;
  border: 1px solid black;
}

.row:after {
  clear: both;
  display: table;
  content: "";
}

.profilepicture {
  width: 60%;
  margin: 2vw 20%;
}

.container-useritems {
  margin: 0 auto;
  width: 60vw;
  background-color: rgb(18, 132, 177);
}
