/*Insert into profile.component.css */

.mat-tab-group {
  margin: 0 auto;
  width: 70vw;
}

.mat-grid-tile {
  border: 0px solid black;
  max-width: 40%;
  float: left;
}

.pic{
  margin-top: 18px;
  width: 33%;
  height: 380px;
  float: right;
  margin-right: -5px;
}

#image{
  max-height: 70%;
  max-width: 100%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.profile{
  width: 99%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.edit-profile {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

.row:after {
  clear: both;
  display: table;
  content: "";
}

.profilepicture {
  width: 60%;
  margin: 2vw 20%;
}

.container-useritems {
  margin: 0 auto;
  width: 60vw;
  background-color: rgb(18, 132, 177);
}

.item {
  height:90%;
  width:30%;
  margin: 0 1.5%;
  background-color: #eee;
  float: left;
}

.item img {
  width: 100%;
  max-height: 18.75em;
  float: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.height{
  min-height: 81vh;
}

.border{
  border: 6px solid #00559d;
}

.card {
  max-width: 250px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.button3{
  margin-top: -15px;
}

