<div class="border">

  <h1>You have a question? We have the answers!</h1>
  <h3>
    Welcome to our questions & answers page! Listed below are frequently asked questions from our
    customers, regarding the handling of our webpage. If you are looking for answers, maybe you'll
    find it here. If you have any problem that isn't talked about in our FAQ, please feel free to
    directly contact us.
  </h3>
  <mat-divider></mat-divider>
  <br>
  <h2>
    Q: I'd like to sell a product on your page. I can't find any options for uploading, could you assist me?
  </h2>
  <h3>
    A: Of course! The be able to upload a product, you have to go through the following steps:
    <ul>
      <li>
        In our topbar you see the option "sign up". Click on that and create a new account.
      </li>
      <li>
        After you created your account, you are automatically logged in with your new account.
        Your topbar structure should have changed now. In the top right corner you see your username
        and three dots right beside your name. Click on these three points.
      </li>
      <li>
        A dropdown menu opens now. You have the option "Add Article" where you can click on. Do that and
        you will find yourself on a new page.
      </li>
      <li>
        Here you can choose if you want to sell something, lend something or provide a product. For each
        choice you get a form, that you can fill out with the specifications of your product/service.
      </li>
      <li>
        After filling the form, click on the blue button below, saying "Add product". Your product was now
        successfully added to our page and can be seen by other customers.
      </li>
    </ul>
    If you want to see the status of your products, you can check that in your profile by clicking on your
    username in the topbar of our page.
  </h3>
  <mat-divider></mat-divider>
  <br>
  <h2>
    Q: How can I add money to my balance to purchase products on the page?
  </h2>
  <h3>
    Aa: To add money, you have to go through the following steps:
    <ul>
      <li>
        If you are not logged in yet, please do so. If you need to create a new account, you find the
        steps in the question above.
      </li>
      <li>
        After you logged in, you find a dropdown menu next to your username in the top right corner of the page.
        Click on the menu and select the option "Balance".
      </li>
      <li>
        You have been forwarded to a new page. Now you have to choose from which of your accounts you want to
        get the money. You can either choose bank-. post or paypal account. Then you choose the amount to add
        and you agree our terms of service.
      </li>
      <li>
        Click on "Save changes" to finish the process.
      </li>
    </ul>
    After you added the money, you can once again click on the dropdown menu next to your username and check
    if everything worked out. The new balance should now be pictured on the "Balance" button.
  </h3>
  <mat-divider></mat-divider>
  <br>
</div>
