<div class="border">
<mat-grid-list cols="8"  rowHeight="144px" class="pagewidth">

  <!--Banner-->
  <mat-grid-tile colspan="8" rowspan="2" class="banner">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_selling.png" style="display:none;">
    <img class="banner" id="banner-2" src="../../assets/Header_Home/Banner_Lending.png" style="display:block;">
    <img class="banner" id="banner-3" src="../../assets/Header_Home/Banner_Service.png" style="display:none;">
  </mat-grid-tile>

  <!--Sidebar-->
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card>
      <mat-card-title>Popular categories</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>

      <form class="search-sidebar">
        <mat-form-field style="width:90%">
          <mat-label>Search for products</mat-label>
          <input matInput placeholder="search products">
        </mat-form-field>
      </form>

      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/clothes-shoes">clothes & shoes</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/electronics">electronics</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/household-garden">household & garden</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/realestate">real estate</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/sport">sport</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/vehicles">vehicles</button></mat-grid-tile>
      </mat-grid-list>

    </mat-card>
  </mat-grid-tile>

  <div *ngIf="!this.userInfoService.getUserId()===article.userId">
  <!--Title, Price and Picture-->
  <mat-grid-tile colspan="2" rowspan="3">

    <mat-card>
      <mat-card-title>{{this.article.title}}</mat-card-title>
      <br>
      <mat-card-title>{{this.article.price}} CHF</mat-card-title>
      <br>
      <mat-grid-list cols="1" rowHeight="300px" class="categories">
        <mat-grid-tile>Picture of article</mat-grid-tile>
      </mat-grid-list>
    </mat-card>

  </mat-grid-tile>

  <!--Description-->
  <mat-grid-tile colspan="4" rowspan="1">

    <mat-card>
      <mat-card-title>Description:</mat-card-title>
      <p>{{this.article.description}}</p>
    </mat-card>

  </mat-grid-tile>

  <!--Delivery & delivery specs-->
  <mat-grid-tile colspan="4" rowspan="1">

    <mat-card>
      <mat-card-title>Delivery & delivery specifications:</mat-card-title>
      <div *ngIf="this.article.status">
        <p>Available</p>
      </div>
      <div *ngIf="!(this.article.status)">
        <p>Unavailable</p>
      </div>
    </mat-card>

  </mat-grid-tile>

  <!--Seller and location-->
  <mat-grid-tile colspan="4" rowspan="1">

    <mat-card>
      <mat-card-title>Lender and location:</mat-card-title>
      <p>{{this.article.location}}</p>
      <!-- Seller needs to be fetched by id -->
    </mat-card>

    <!--snackbar-->
    <mat-form-field class="invisible">
      <mat-label>Message</mat-label>
      <input matInput value="{{this.article.title}} was added to your shopping cart" #message>
    </mat-form-field>

    <mat-form-field class="invisible">
      <mat-label>Action</mat-label>
      <input matInput value="OK!" #action>
    </mat-form-field>

    <button class="button2" mat-stroked-button (click)="openSnackBar(message.value, action.value)">Rent {{this.article.title}}</button>

  </mat-grid-tile>
  </div>

  <div *ngIf="this.userInfoService.getUserId()===article.userId">
    <!--Title, Price and Picture-->
    <mat-grid-tile colspan="2" rowspan="3">

      <mat-card>
        <mat-card-title>{{this.article.title}}</mat-card-title>
        <br>
        <mat-card-title>{{this.article.price}} CHF</mat-card-title>
        <br>
        <mat-grid-list cols="1" rowHeight="300px" class="categories">
          <mat-grid-tile>Picture of article</mat-grid-tile>
        </mat-grid-list>
      </mat-card>

    </mat-grid-tile>

    <!--Description-->
    <mat-grid-tile colspan="4" rowspan="1">

      <mat-card>
        <mat-card-title>Description:</mat-card-title>
        <p>{{this.article.description}}</p>
      </mat-card>

    </mat-grid-tile>

    <!--Delivery & delivery specs-->
    <mat-grid-tile colspan="4" rowspan="1">

      <mat-card>
        <mat-card-title>Delivery & delivery specifications:</mat-card-title>
        <div *ngIf="this.article.status">
          <p>Available</p>
        </div>
        <div *ngIf="!(this.article.status)">
          <p>Unavailable</p>
        </div>
      </mat-card>

    </mat-grid-tile>

    <!--Seller and location-->
    <mat-grid-tile colspan="4" rowspan="1">

      <mat-card>
        <mat-card-title>Lender and location:</mat-card-title>
        <p>{{this.article.location}}</p>
        <!-- Seller needs to be fetched by id -->
      </mat-card>

      <!--snackbar-->
      <mat-form-field class="invisible">
        <mat-label>Message</mat-label>
        <input matInput value="{{this.article.title}} was added to your shopping cart" #message>
      </mat-form-field>

      <mat-form-field class="invisible">
        <mat-label>Action</mat-label>
        <input matInput value="OK!" #action>
      </mat-form-field>

      <button class="button2" mat-stroked-button (click)="openSnackBar(message.value, action.value)">Rent {{this.article.title}}</button>

    </mat-grid-tile>
  </div>

</mat-grid-list>
</div>


