app-topbar {
  width: 98%;
  height: 50px;
  background-color: dodgerblue;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.button{
  background-color:transparent;
  border-radius:27px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 10px;
  text-decoration:none;
}
