<mat-grid-list cols="8"  rowHeight="144px">

  <!--Banner-->
  <mat-grid-tile colspan="8" rowspan="2" class="banner">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_selling.png" style="display:block;">
    <img class="banner" id="banner-2" src="../../assets/Header_Home/Banner_Lending.png" style="display:none;">
    <img class="banner" id="banner-3" src="../../assets/Header_Home/Banner_Service.png" style="display:none;">
  </mat-grid-tile>
  <!--Sidebar-->
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card>
      <mat-card-title>Other popular categories</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>

      <form class="search-sidebar">
        <mat-form-field style="width:90%">
          <mat-label>Search vehicles</mat-label>
          <input matInput placeholder="search products">
        </mat-form-field>
      </form>

      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/clothes-shoes">clothes & shoes</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/electronics">electronics</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/household-garden">household & garden</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/realestate">real estate</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/sport">sport</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="">return to homepage</button></mat-grid-tile>
      </mat-grid-list>

    </mat-card>
  </mat-grid-tile>


  <!--Most recent articles-->
  <mat-grid-tile colspan="6" rowspan="3">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Most recent vehicles:</mat-card-title>
      </mat-card-header>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Shiba Inu. Very Friend!</mat-card-title>
        </mat-card-header>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Shiba Inu. Very Friend!</mat-card-title>
        </mat-card-header>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Shiba Inu. Very Friend!</mat-card-title>
        </mat-card-header>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Shiba Inu. Very Friend!</mat-card-title>
        </mat-card-header>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

    </mat-card>
  </mat-grid-tile>

  <!--filters-->
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Filters:</mat-card-title>
      </mat-card-header>

    </mat-card>
  </mat-grid-tile>

  <!--in your area-->
  <mat-grid-tile colspan="6" rowspan="3">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Vehicles in your area:</mat-card-title>
      </mat-card-header>


    </mat-card>
  </mat-grid-tile>


  <!--
  <p>{{articleIds}}</p>
  -->

</mat-grid-list>


