<mat-card [formGroup]="addArticleForm" class="container-productSelling">

  <div>

    <h2>Providing a Cervix</h2>

    <mat-form-field appearance="fill">
      <mat-label for="title">Title</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label for="title">Price (CHF)</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <mat-select>
        <mat-option *ngFor="let price of pricingOptions" [value]="price.value">
          {{price.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label for="title">Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label for="title">Location</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label for="title">Expenses</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label for="title">Expenses Cost (CHF)</mat-label>
      <input matInput>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="addArticleRequest()">Add Cervix</button>

  </div>


</mat-card>
