<div class="border">
<!--Banner-->
<mat-grid-list cols="8"  rowHeight="144px" class="pagewidth">

  <mat-grid-tile colspan="8" rowspan="2" class="banner">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_iocus_realestate.jpg" style="display:block;">
  </mat-grid-tile>

</mat-grid-list>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="To Buy">
    <mat-grid-list cols="8" rowHeight="144px" class="mat-tab-element">
      <!--Sidebar-->
      <mat-grid-tile colspan="2" rowspan="3" class="thinborder">
        <mat-card class="background">
          <mat-card-title>Other popular categories</mat-card-title>
          <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>
          <br>
          <mat-grid-list cols="2" rowHeight="90px" class="categories">
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/clothes-shoes">clothes & shoes</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/electronics">electronics</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/household-garden">household & garden</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/sport">sport</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/vehicles">vehicles</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="">return to homepage</button></mat-grid-tile>
          </mat-grid-list>

        </mat-card>
      </mat-grid-tile>

      <!--Most recent articles-->
      <mat-grid-tile colspan="6" rowspan="3" class="thinborder">
        <mat-card class="background">
          <mat-card-header class="title">
            <mat-card-title>Most recent real estate:</mat-card-title>
          </mat-card-header>

          <div *ngFor="let article of this.articleInfoService.getSellCategoryList().reverse(); let i = index">
            <mat-card class="card" *ngIf = "i<4 && article.status">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{article.title}}</mat-card-title>
                <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions class="button3">
                <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
              </mat-card-actions>
            </mat-card>
          </div>

        </mat-card>
      </mat-grid-tile>

      <!--filters to buy-->
      <mat-grid-tile colspan="8" rowspan="1" class="thinborder">
        <mat-card class="background">
          <mat-card-header class="filtertitle">
            <mat-card-title>Filters:</mat-card-title>
          </mat-card-header>

          <mat-card-content class="filterelement1">
            <h3>Deliverable: </h3>
            <mat-card-content class="spacer"></mat-card-content>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button (change)="sellRadioChangeHandler('true')" [value]="true">Yes</mat-radio-button>
              <mat-radio-button (change)="sellRadioChangeHandler('false')" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </mat-card-content>

          <mat-card-content class="filterelement">
            <h3>Search for products in your location: </h3>
            <mat-form-field>
              <input matInput type=text [(ngModel)]="sellLoc" name="location" placeholder="Enter your city">
            </mat-form-field>
          </mat-card-content>

          <mat-card-content class="filterelement">
            <h3>Pricing lower limit: </h3>
            <mat-form-field>
              <input matInput [(ngModel)]="sellLowerPrice" type=text name="price" placeholder="Enter your lower price limit:">
            </mat-form-field>
          </mat-card-content>

          <mat-card-content class="filterelement">
            <h3>Pricing upper limit: </h3>
            <mat-form-field>
              <input matInput [(ngModel)]="sellUpperPrice" type=text name="price" placeholder="Enter your upper price limit:">
            </mat-form-field>
          </mat-card-content>

          <button class="filterbutton" (click)="sellSendFilter()" mat-raised-button color="primary"> <!--(click)="sendForm()"--> apply</button>

        </mat-card>

      </mat-grid-tile>

    </mat-grid-list>

    <div *ngIf="!loadedSellFilter">

      <div class="content" fxLayout="row wrap">
        <div *ngFor="let article of this.articleInfoService.getSellCategoryList()" class="bottomspace">
          <mat-card class="card2" *ngIf="article.status">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{article.title}}</mat-card-title>
              <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions class="button3">
              <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>

    <div class="content" fxLayout="row wrap" *ngIf="loadedSellFilter">
      <div *ngFor="let article of sellFilterResult">
        <mat-card class="card2" *ngIf="sellFilterResult.length >0 && article.status">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-actions class="button3">
            <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div *ngIf="sellFilterResult.length === 0">
        nothing found
      </div>

    </div>

  </mat-tab>

  <!--to rent-->

  <mat-tab label="To Rent">
    <mat-grid-list cols="8" rowHeight="144px" class="mat-tab-element">
      <!--Sidebar-->
      <mat-grid-tile colspan="2" rowspan="3" class="thinborder">
        <mat-card class="background">
          <mat-card-title>Other popular categories</mat-card-title>
          <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>
          <br>
          <mat-grid-list cols="2" rowHeight="90px" class="categories">
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/clothes-shoes">clothes & shoes</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/electronics">electronics</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/household-garden">household & garden</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/sport">sport</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="/categories/vehicles">vehicles</button></mat-grid-tile>
            <mat-grid-tile><button mat-button class="button" routerLink="">return to homepage</button></mat-grid-tile>
          </mat-grid-list>

        </mat-card>
      </mat-grid-tile>

      <!--Most recent articles-->
      <mat-grid-tile colspan="6" rowspan="3" class="thinborder">
        <mat-card class="background">
          <mat-card-header class="title">
            <mat-card-title>Most recent real estate:</mat-card-title>
          </mat-card-header>

          <div *ngFor="let article of this.articleInfoService.getLendCategoryList().reverse(); let i = index">
            <mat-card class="card" *ngIf = "i<4 && article.status">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{article.title}}</mat-card-title>
                <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions class="button3">
                <button mat-button (click)="moreLendInfos(article.lendProductId)">more infos</button>
              </mat-card-actions>
            </mat-card>
          </div>

        </mat-card>
      </mat-grid-tile>

      <!--filters-->
      <mat-grid-tile colspan="8" rowspan="1" class="thinborder">
        <mat-card class="background">
          <mat-card-header class="filtertitle">
            <mat-card-title>Filters:</mat-card-title>
          </mat-card-header>

          <mat-card-content class="filterelement1">
            <h3>Search for products in your location: </h3>
            <mat-form-field>
              <input matInput [(ngModel)]="lendLoc" type=text name="location" placeholder="Enter your city">
            </mat-form-field>
          </mat-card-content>

          <mat-card-content class="filterelement">
            <h3>Pricing lower limit: </h3>
            <mat-form-field>
              <input matInput [(ngModel)]="lendLowerPrice" type=text name="price" placeholder="Enter your lower price limit:">
            </mat-form-field>
          </mat-card-content>

          <mat-card-content class="filterelement">
            <h3>Pricing upper limit: </h3>
            <mat-form-field>
              <input matInput [(ngModel)]="lendUpperPrice"type=text name="price" placeholder="Enter your upper price limit:">
            </mat-form-field>
          </mat-card-content>

          <mat-card-content class="filterelement">
            <h3>Price per: </h3>
            <mat-card-content class="spacer"></mat-card-content>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button (change)="lendRadioChangeHandler('true')"[value]="true">Hour</mat-radio-button>
              <mat-radio-button (change)="lendRadioChangeHandler('false')" [value]="false">Day</mat-radio-button>
            </mat-radio-group>
          </mat-card-content>

          <button class="filterbutton" (click)="lendSendFilter()" mat-raised-button color="primary"> <!--(click)="sendForm()"--> apply</button>

        </mat-card>

      </mat-grid-tile>

    </mat-grid-list>

    <div *ngIf="!loadedLendFilter">

      <div class="content" fxLayout="row wrap">
        <div *ngFor="let article of this.articleInfoService.getLendCategoryList()">
          <mat-card class="card2" *ngIf="article.status">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{article.title}}</mat-card-title>
              <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-actions class="button3">
              <button mat-button (click)="moreLendInfos(article.lendProductId)">more infos</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>


    <div class="content" fxLayout="row wrap" *ngIf="loadedLendFilter">
      <div *ngFor="let article of lendFilterResult">
        <mat-card class="card2" *ngIf="lendFilterResult.length >0 && article.status">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-actions class="button3">
            <button mat-button (click)="moreLendInfos(article.lendProductId)">more infos</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div *ngIf="lendFilterResult.length === 0">
        nothing found
      </div>

    </div>

  </mat-tab>

</mat-tab-group>
</div>








