.mat-grid-tile {
  margin: 0;
}

.thinborder{
  border: 1px solid black;
}

#thinborder{
  border: 1px solid black;
}

.banner img{
  width: 100%;
}

.mat-grid-list {
  margin: 0 auto;
  width: 100vw;
}

.mat-card {
  height:100%;
  width:100%;
}

.mat-card-actions {
  padding: 8px 36px;
}

.card {
  height:90%;
  width:21%;
  margin: 0 1.5%;
  background-color: #eee;
  float: left;
  max-height: 350px;
  max-width: 250px;
}

.card2 {
  height:100%;
  background-color: #eee;
  float: left;
  max-width: 200px;
  margin-left: 50px;
  max-height: 300px;
  max-width: 200px;
}

.item img {
  width: 100%;
  max-height:18.75em;
}

.categories{
  width: 100%;
  height: 30%;
}

.button{
  width: 100%;
  height: 100%;
  border: 2px solid #00559d;
}

.button:hover{
  background-color: lightgray;
}

.button3{
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.filtertitle{
  margin-left: -16px;
  height: 25px;
}

.filterelement{
  display: inline-block;
  margin-left: 100px;
}

.filterelement1{
  display: inline-block;
}

.filterbutton{
  margin-left: 100px;
}

.spacer{
  margin-bottom: 31px;
}

.pagewidth{
  max-width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content {
  padding: 16px; /*abstand der produkte zu banner*/
}

.content > mat-card {
  width: 200px;
}

.bottomspace{
  margin-bottom: 30px;
}

.border{
  border: 6px solid #00559d;
}

.background{
  background-image: url("https://www.fg-a.com/wallpapers/marble-white-1-2018.jpg");
}

.articletitle {
  font-size: 1.2em;
  width: 120px;
}



