<mat-grid-list cols="8"  rowHeight="144px">

  <!--Banner-->
  <mat-grid-tile colspan="8" rowspan="2" class="banner">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_iocus_babysitter.jpg" style="display:block;">
  </mat-grid-tile>


  <!--Sidebar-->
  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card>
      <mat-card-title>Other popular services</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>

      <form class="search-sidebar">
        <mat-form-field style="width:90%">
          <mat-label>Search for babysitters</mat-label>
          <input matInput placeholder="search services">
        </mat-form-field>
      </form>

      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/services/carpool">carpool</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/garden-lawn">garden & lawn</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/household">household</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/privatelessons">private lessons</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/reparations">reparations</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="">return to homepage</button></mat-grid-tile>
      </mat-grid-list>

    </mat-card>
  </mat-grid-tile>

  <!--most recent-->

  <mat-grid-tile colspan="6" rowspan="3">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Most recent offers for babysitting:</mat-card-title>
      </mat-card-header>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Household</mat-card-title>
          <mat-card-subtitle>Tom cleans your house!</mat-card-subtitle>
        </mat-card-header>
        <img src="https://cdn.pixabay.com/photo/2014/04/02/10/15/bucket-303265_1280.png">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Private lessons</mat-card-title>
          <mat-card-subtitle>John helps you if your failing class!</mat-card-subtitle>
        </mat-card-header>
        <img src="https://cdn.pixabay.com/photo/2013/07/13/13/42/tux-161406_1280.png">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Reparations</mat-card-title>
          <mat-card-subtitle>Karl brings your engine back to life!</mat-card-subtitle>
        </mat-card-header>
        <img src="https://cdn.pixabay.com/photo/2013/07/13/13/59/gear-161869_1280.png">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>Household</mat-card-title>
          <mat-card-subtitle>Sarah does your grocery shopping!</mat-card-subtitle>
        </mat-card-header>
        <img src="https://cdn.pixabay.com/photo/2019/03/16/16/08/shopping-4059182_1280.png">
        <mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy for 12CHF</button>
            <button mat-button>Remember</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

    </mat-card>
  </mat-grid-tile>

  <!--filters-->
  <mat-grid-tile colspan="2" rowspan="4">
    <mat-card>
      <mat-card-header class="filtertitle">
        <mat-card-title>Filters:</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        <h3>Search for products in your location: </h3>
        <mat-form-field>
          <input matInput type=text name="location" placeholder="Enter your city">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <h3>Pricing lower limit: </h3>
        <mat-form-field>
          <input matInput type=text name="price" placeholder="Enter your lower price limit:">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <h3>Pricing upper limit: </h3>
        <mat-form-field>
          <input matInput type=text name="price" placeholder="Enter your upper price limit:">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <h3>Price per: </h3>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Hour</mat-radio-button>
          <mat-radio-button value="2">Day</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>

      <button mat-raised-button color="primary"> <!--(click)="sendForm()"--> apply</button>

    </mat-card>

  </mat-grid-tile>

  <!--in your area-->
  <mat-grid-tile colspan="6" rowspan="4">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Babysitters in your area:</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <!--
  <p>{{articleIds}}</p>
  -->

</mat-grid-list>

