<div class="border">

    <mat-grid-list cols="8"  rowHeight="144px" class="pagewidth">

      <!--Banner-->
      <mat-grid-tile colspan="8" rowspan="2" class="banner">
        <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_selling.png" style="display:block;">
        <img class="banner" id="banner-2" src="../../assets/Header_Home/Banner_Lending.png" style="display:none;">
        <img class="banner" id="banner-3" src="../../assets/Header_Home/Banner_Service.png" style="display:none;">
      </mat-grid-tile>

    </mat-grid-list>

      <!--reactive page for all products to buy-->

        <h1 *ngIf="this.userInfoService.getUsername()==='admin'" class="title">All registered users: </h1>

        <div *ngIf="this.userInfoService.getUsername()==='admin'" class="content" fxLayout="row wrap">
          <div fxFlex="25%" *ngFor="let article of this.users" class="bottomspace">
            <mat-card class="card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{article.userName}}</mat-card-title>
                <mat-card-subtitle>{{article.name}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-actions id="button3">
                <button id="button1" mat-button (click)="this.moreInfo(article.userId)">more infos</button>
                <button id="button2" mat-button (click)="this.deleteUser(article.userId)">delete profile</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <div *ngIf="!(this.userInfoService.getUsername()==='admin')" class="height">

          <h1>
            <mat-icon>mood_bad</mat-icon>
            Sadly, you are not authorized to get access to this page
            <mat-icon>mood_bad</mat-icon>
          </h1>
          <br>
          <button mat-raised-button class="returnbutton" routerLink="/">return to homepage</button>
        </div>

  </div>
