<div class="border">
<mat-grid-list cols="8"  rowHeight="144px" class="pagewidth">

  <!--Banner-->
  <mat-grid-tile colspan="8" rowspan="2" id="banner" class="thinborder">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_selling.png" style="display:none;">
    <img class="banner" id="banner-2" src="../../assets/Header_Home/Banner_Lending.png" style="display:none;">
    <img class="banner" id="banner-3" src="../../assets/Header_Home/Banner_Service.png" style="display:block;">
  </mat-grid-tile>

  <!--link to other services-->
  <mat-grid-tile colspan="2" rowspan="3" class="thinborder">
    <mat-card class="background">
      <mat-card-title>Popular services</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>
      <br>
      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/services/babysitting">babysitting</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/carpool">carpool</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/garden-lawn">garden & lawn</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/household">household</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/privatelessons">private lessons</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/reparations">reparations</button></mat-grid-tile>
      </mat-grid-list>

    </mat-card>
  </mat-grid-tile>

  <div *ngIf="!(this.userInfoService.getUserId()===article.userId)">
  <!--Title, Price-->
  <mat-grid-tile colspan="2" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title>{{this.article.title}}</mat-card-title>
      <br>
      <mat-card-title>{{this.article.price}} CHF</mat-card-title>
    </mat-card>

  </mat-grid-tile>

  <!--Lender & Location-->
  <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title>Service provider:</mat-card-title>
      <p>{{this.article.title}}</p>
      <mat-card-title>Locations:</mat-card-title>
      <p>{{this.article.location}}</p>
    </mat-card>

  </mat-grid-tile>

  <!--Description-->
  <mat-grid-tile colspan="6" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title>Description:</mat-card-title>
        <p>{{this.article.description}}</p>
    </mat-card>

  </mat-grid-tile>

  <!--Expenses and cost of them-->
  <mat-grid-tile colspan="6" rowspan="1" class="thinborder">

    <mat-card class="background">
      <mat-card-title class="lengthrestriction">Expenses and their costs:</mat-card-title>
      <p class="lengthrestriction">{{this.article.expenses}}</p>
      <p class="lengthrestriction">{{this.article.expCost}} CHF</p>

      <mat-grid-list *ngIf="this.userInfoService.isLoggedIn" cols="1" rowHeight="70px" class="categories" class="rentservicetile">
        <mat-grid-tile class="thinborder" >
          <button class="rentservicebutton" mat-stroked-button (click)="openSnackBar(message.value, action.value)">Rent {{this.article.title}}</button>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

    <!--snackbar-->
    <mat-form-field class="invisible">
      <mat-label>Message</mat-label>
      <input matInput value="{{this.article.title}} was added to your shopping cart" #message>
    </mat-form-field>

    <mat-form-field class="invisible">
      <mat-label>Action</mat-label>
      <input matInput value="OK!" #action>
    </mat-form-field>


  </mat-grid-tile>
  </div>


  <div *ngIf="this.userInfoService.getUserId()===article.userId">
    <!--Title, Price-->
    <mat-grid-tile colspan="2" rowspan="2" class="thinborder">

      <mat-card class="background">
        <mat-card-title>{{this.article.title}}</mat-card-title>
        <mat-form-field style="width:80%">
          <mat-label>Enter new product title</mat-label>
          <input  [(ngModel)]="newTitle" matInput placeholder="new title">
        </mat-form-field>
        <mat-card-title> {{this.article.price}} CHF</mat-card-title>
        <mat-form-field style="width:80%">
          <mat-label>Enter new price</mat-label>
          <input  [(ngModel)]="newPrice" matInput placeholder="new price">
        </mat-form-field>
      </mat-card>

    </mat-grid-tile>

    <!--Lender & Location-->
    <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

      <mat-card class="background">
        <mat-card-title>Service provider:</mat-card-title>
        <p>{{this.article.title}}</p>
        <mat-card-title>Locations:</mat-card-title>
        <p>{{this.article.location}}</p>
      </mat-card>

    </mat-grid-tile>

    <!--Description-->
    <mat-grid-tile colspan="4" rowspan="1" class="thinborder">

      <mat-card class="background">
        <mat-card-title>Description:</mat-card-title>
        <p>{{this.article.description}}</p>
        <mat-form-field style="width:80%">
          <mat-label>Enter new description</mat-label>
          <input [(ngModel)]="newDescription" matInput placeholder="new description">
        </mat-form-field>
      </mat-card>

    </mat-grid-tile>

    <!--Expenses and cost of them-->
    <mat-grid-tile colspan="6" rowspan="2" class="thinborder">

      <mat-card class="background">
        <mat-card-title>Expenses and their costs:</mat-card-title>
        <p>{{this.article.expenses}}</p>
        <mat-form-field style="width:80%">
          <mat-label>Enter new expenses</mat-label>
          <input [(ngModel)]="expenses" matInput placeholder="new expenses">
        </mat-form-field>
        <p>{{this.article.expCost}} CHF</p>
        <mat-form-field style="width:80%">
          <mat-label>Enter new expension costs</mat-label>
          <input [(ngModel)]="expCost" matInput placeholder="new exp. costs">
        </mat-form-field>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="1" class="thinborder">
      <mat-card class="background">
        <button (click)="this.changeArticle(article.serviceId)" class="button" mat-button>save changes</button>
      </mat-card>
    </mat-grid-tile>

  </div>

</mat-grid-list>
</div>

