<mat-grid-list cols="8"  rowHeight="144px" class="pagewidth">

  <!--Banner-->
  <mat-grid-tile colspan="8" rowspan="2" class="banner">
    <img class="banner" id="banner-1" src="../../assets/Header_Home/Banner_selling.png" style="display:block;">
    <img class="banner" id="banner-2" src="../../assets/Header_Home/Banner_Lending.png" style="display:none;">
    <img class="banner" id="banner-3" src="../../assets/Header_Home/Banner_Service.png" style="display:none;">
  </mat-grid-tile>
  <!--Sidebar-->
  <mat-grid-tile colspan="2" rowspan="5">
    <mat-card>
      <mat-card-title>Popular categories</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>

      <form class="search-sidebar">
        <mat-form-field style="width:90%">
          <mat-label>Search for products</mat-label>
          <input matInput placeholder="search products">
        </mat-form-field>
      </form>

      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/clothes-shoes">clothes & shoes</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/electronics">electronics</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/household-garden">household & garden</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/realestate">real estate</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/sport">sport</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/categories/vehicles">vehicles</button></mat-grid-tile>
      </mat-grid-list>

      <button class="button2" mat-raised-button color="primary" routerLink="/sellproduct-page">Show all products for sale</button>

      <button class="button2" mat-raised-button color="primary" routerLink="/lendproduct-page">Show all products to rent</button>

    </mat-card>
  </mat-grid-tile>


  <!--Most recent articles-->
  <mat-grid-tile colspan="6" rowspan="3">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Most recent products for sale:</mat-card-title>
      </mat-card-header>
      <div *ngFor="let article of this.articleInfoService.getAllSellArticles().reverse(); let i = index">
        <mat-card class="card" *ngIf = "i<4 && article.status">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-actions class="button3">
            <button mat-button (click)="moreSellInfos(article.sellProductId)">more infos</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-card>
  </mat-grid-tile>

  <!--Most recent articles-->
  <mat-grid-tile colspan="6" rowspan="3">
    <mat-card>
      <mat-card-header class="title">
        <mat-card-title>Most recent products to rent:</mat-card-title>
      </mat-card-header>
      <div *ngFor="let article of this.articleInfoService.getAllLendArticles().reverse(); let i = index">
        <mat-card class="card" *ngIf = "i<4 && article.status">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-actions class="button3">
            <button mat-button (click)="moreLendInfos(article.lendProductId)">more infos</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-card>
  </mat-grid-tile>

  <!--Random articles-->
  <mat-grid-tile colspan="2" rowspan="4">
    <mat-card>
      <mat-card-title>Popular services</mat-card-title>
      <mat-card-subtitle>Find what specifically fits you!</mat-card-subtitle>

      <form class="search-sidebar">
        <mat-form-field style="width:90%">
          <mat-label>Search for services</mat-label>
          <input matInput placeholder="search services">
        </mat-form-field>
      </form>

      <mat-grid-list cols="2" rowHeight="90px" class="categories">
        <mat-grid-tile><button mat-button class="button" routerLink="/services/babysitting">babysitting</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/carpool">carpool</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/garden-lawn">garden & lawn</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/household">household</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/privatelessons">private lessons</button></mat-grid-tile>
        <mat-grid-tile><button mat-button class="button" routerLink="/services/reparations">reparations</button></mat-grid-tile>
      </mat-grid-list>

      <button class="button2" mat-raised-button color="primary" routerLink="/sellservice-page">Show all services for sale</button>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="3">
    <mat-card>
    <mat-card-header class="title">
      <mat-card-title>Most recent service:</mat-card-title>
    </mat-card-header>
    <div *ngFor="let article of this.articleInfoService.getAllServiceArticles().reverse(); let i = index">
      <mat-card class="card" *ngIf = "i<4 && article.status">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{article.title}}</mat-card-title>
          <mat-card-subtitle>{{article.price}} CHF</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions class="button3">
          <button mat-button (click)="moreServiceInfos(article.serviceId)">more infos</button>
        </mat-card-actions>
      </mat-card>
    </div>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>
